/*
    Folha de Estilo CSS para Desktop
*/

/* ==================== Layout ==================== */
.Container {
    max-width: 1140px;
}

.Flex {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /*background-color: #00f;*/
    border: 0px solid #00f;
    height: 100px;
}

/* ==================== CABEÇALHO ==================== */
header {
    height: auto;
    border: 0px solid #0ff;
}

#logo {
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

label {
    display: none;
}

nav {
    position: static;
    vertical-align: middle;
    align-items: center;
}

nav ul {
    position: static;
    background-color: transparent;
    margin-top: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul li {
    float: left;
    padding: 25px;
    /*        border: 1px solid #00f;*/
    border-bottom: 0px solid #fff;
}

nav ul li:hover {
    float: left;
    padding: 25px;
    /*        border: 1px solid #00f;*/
    border-bottom: 0px solid #0F2F82;
}

nav ul li a {
    /*color: #fff;
        content: '';
        box-shadow: inset 0 0 0 0 #fff;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;*/
    background-image: linear-gradient(to right,
            #83a0ff,
            #83a0ff 50%,
            #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 10px 0;
    position: relative;
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

nav ul li a:before {
    content: '';
    background: #83a0ff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    /*color: #0F2F82;
        border-bottom: 2px solid #0F2F82;
        content: '';
        box-shadow: inset 100px 0 0 0 #0F2F82;
        color: white;*/
    background-position: 0;
}

nav ul li a:hover::before {
    width: 100%;
}

/* ==================== SERVIÇOS ==================== */
#servicos {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ccc;
}

#servicos h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#servicos p {
    font-size: 16px;
    line-height: 1.5;
}

/* ==================== LOCALIZAÇÃO ==================== */
#localizacao {
    height: 50vh;
}

/*
    .map-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    .map-responsive iframe {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
*/
.map-responsive iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/*
    #localizacao iframe {
        width: 1140px;
        height: 350px;
    }
*/