/*
    Folha de Estido CSS
*/
/* CSS Reset */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    /*Tamanho padrão, equivale a 16px e pode ser redimensionada dinamicamente sem distorções ou quebra de layout*/
    font-size: 1em;
}

/* Layout */
.Container {
    margin: auto;
}

.Flex {
    display: flex;
    flex-direction: column;
}

/* Ícone para apontar para o topo do site*/
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* INÍCIO - CABEÇALHO */
header {
    background-color: #D1DBF8;
    height: 100px;
}

#logo {
    height: 50px;
    align-self: center;
}

#logo img {
    width: 269px;
    height: 50px;
}

nav {
    position: static;
    vertical-align: middle;
    align-items: center;
}

nav ul {
    list-style: none;
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    /*Remover sublinhado dos links*/
    text-decoration: none;
    /*Cor padrão dos links é azul, vou deixar branco*/
    color: #fff;
}

/* PRINCIPAL */
main {
    background-color: #D1DBF8;
    height: 60vh;
    /*Precisa adicionar imagem*/
    /*background: url(img/banner.jpg);*/
    /*Ajustar imagem para o tamanho da tela do dispositivo*/
    /*background-size: cover;*/
    /*Cor da fonte se a img for escura*/
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1 {
    font-size: 2.5em;
}

main h2 {
    font-size: 1em;
}

/* SOBRE */
#sobre {
    height: 40vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

/* SERVIÇOS */
#servicos {
    height: 70vh;
    background-color: #D1DBF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

/* LOCALIZAÇÃO */
#localizacao {
    height: 80vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

#localizacao iframe {
    width: 375px;
    height: 450px;
}

/* CONTATO - RODAPÉ */
#rodape {
    height: 20vh;
    background-color: #D1DBF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {

    /* Layout */
    .Container {
        max-width: 540px;
    }
}

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .Container {
        max-width: 720px;
    }
}

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

    /* Layout */
    .Container {
        max-width: 960px;
    }
}

/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Layout */
    .Container {
        max-width: 1140px;
    }

    .Flex {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        /*background-color: #00f;*/
        border: 0px solid #00f;
        height: 100px;
    }

    /* Cabeçalho */
    header {
        height: auto;
        border: 0px solid #0ff;
    }

    #logo {
        height: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    label {
        display: none;
    }

    nav {
        position: static;
        vertical-align: middle;
        align-items: center;
    }

    nav ul {
        position: static;
        background-color: transparent;
        margin-top: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    nav ul li {
        float: left;
        padding: 25px;
        /*        border: 1px solid #00f;*/
        border-bottom: 0px solid #fff;
    }

    nav ul li:hover {
        float: left;
        padding: 25px;
        /*        border: 1px solid #00f;*/
        border-bottom: 0px solid #0F2F82;
    }

    nav ul li a {
        /*color: #fff;
        content: '';
        box-shadow: inset 0 0 0 0 #fff;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;*/
        background-image: linear-gradient(to right,
                #83a0ff,
                #83a0ff 50%,
                #fff 50%);
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 10px 0;
        position: relative;
        background-clip: inherit;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    nav ul li a:before {
        content: '';
        background: #83a0ff;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }

    nav ul li a:hover {
        /*color: #0F2F82;
        border-bottom: 2px solid #0F2F82;
        content: '';
        box-shadow: inset 100px 0 0 0 #0F2F82;
        color: white;*/
        background-position: 0;
    }

    nav ul li a:hover::before {
        width: 100%;
    }

    /* LOCALIZAÇÃO */
    #localizacao {
        height: 50vh;
    }

    #localizacao iframe {
        width: 1140px;
        height: 350px;
    }
}