/* ==================== SOBRE ==================== */
.Sobre {
    background-color: $color-3;
    padding: 5vw;
}

#sobre h2 {
    text-align: center;
    position: relative;
}

#sobre h3 {
    font-size: 1.1em;
    text-align: left;
    margin-bottom: 30px;
}